/* Terminal CSS */
.terminal {
  --color: #c7c7c7;
  --background: transparent;
}

/* Terminal modal CSS */
.terminal-modal {
  /* UI Draggable */
  /* UI Resizable */
}
.terminal-modal .modal-content {
  background: transparent;
}
.terminal-modal .modal-content .modal-header {
  background: #fff;
  padding: 10px 15px;
}
.terminal-modal .modal-content .modal-body {
  padding: 0;
  background: transparent;
}
.terminal-modal .modal-content .modal-body .terminal {
  min-height: 360px;
  -webkit-backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -ms-backdrop-filter: blur(16px);
  -o-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  color: #2AFA1C;
  --color: #2AFA1C;
  background: rgba(0, 0, 0, 0.82);
}
.terminal-modal .modal-content .modal-body .terminal > .terminal-scroller {
  padding: 10px 15px;
}
.terminal-modal .modal-content .modal-body .terminal > .terminal-scroller > .terminal-wrapper {
  overflow: auto;
  max-height: 100%;
}
.terminal-modal .ui-draggable .modal-header,
.terminal-modal .ui-draggable-handle .modal-header {
  cursor: move;
}
.terminal-modal .ui-resizable {
  position: relative;
}
.terminal-modal .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.terminal-modal .ui-resizable-disabled .ui-resizable-handle,
.terminal-modal .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.terminal-modal .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.terminal-modal .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.terminal-modal .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.terminal-modal .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.terminal-modal .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.terminal-modal .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.terminal-modal .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.terminal-modal .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
